.menu {
  /* margin: 2rem; */
  padding: 1px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  /* background: red; */
}
.line-1,
.line-2,
.line-3 {
  height: 2px;
  width: 30px;
  background: black;
  border-radius: 5px;
  margin: 1px 0;
  transform-origin: 17%;
  transition: all 0.2s ease-in-out;
}
.change .line-1 {
  transform: rotate(45deg);
}
.change .line-2 {
  transform: translateX(1rem);
  opacity: 0;
}
.change .line-3 {
  transform: rotate(-45deg);
}
